<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style_login.css">
    </head>
    <body>
        <form action="../../BackEnd/scripts/login.php" method="post">
            <input type="text" name="nombre" placeholder="Ingresa tu usuario" required>
            <br>
            <input type="password" name="pass" placeholder="Ingresa tu contraseña" required>
            <br>
            <input type="submit" name="Enviar" value="ingresar">

        </form>
        <br>
        <button id="register"><a href="register.html">Registrarse</a></button>
    </body>
</html>
