<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style_register.css">
</head>

<body>
    <form>
        <br>
        <input type="text" id="username" placeholder="Ingresa tu nombre de usuario" required>
        <br>
        <input type="email" id="email" placeholder="Ingresa tu correo electronico" required>
        <br>
        <input type="password" id="pass" placeholder="Ingresa tu contraseña" required id="pass">
        <br>
        <input type="password" id="repeat-pass" placeholder="Ingresa nuevamente tu contraseña" required >
        <br>
        <input type="button"  value="Registrarme" id="send">
    </form>
    <div id="response"></div>
    <button><a href="../view/index.html" style="text-decoration:none;">Ingresar</a></button>
    <script src="../control/Cregister.js"></script>
</body>

</html>